
.icon-star:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-adult:before { content: '\e802'; } /* '' */
.icon-emo-happy:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
